<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <bean class="com.xworkz.chimney.Chimney"  id="chimney">
 <constructor-arg name="brand" value="LG"></constructor-arg>
 <constructor-arg name="price" value="2000.00"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Integer"  id="integer">
 <constructor-arg  value="150"></constructor-arg>
 </bean>
 
 <bean class="java.lang.String"  id="string">
 <constructor-arg  value="Thanu"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Double"  id="double">
 <constructor-arg  value="2345.88"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Float"  id="float">
 <constructor-arg  value="2345.9"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Boolean"  id="bool">
 <constructor-arg  value="True"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Character"  id="char">
 <constructor-arg  value="T"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Byte"  id="byte">
 <constructor-arg  value="50"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Long"  id="long">
 <constructor-arg  value="4590832"></constructor-arg>
 </bean>
 
 <bean class="java.lang.Short"  id="short">
 <constructor-arg  value="1000"></constructor-arg>
 </bean>
</beans>